html, body{
    padding: 0;
    margin: 0;
}

#main{
    width: 720px;
    margin: auto;
    margin-top: 50px;
}

aside{
    float: left;
    text-align: center;
    width: 180px;
    height: 750px;
    color: #1100ff;
    font-size: 20pt;
    border-radius: 0px 20px 20px 0px;
    border: #000000 solid  2px;
    margin-bottom: 20px;
}
aside p{
    margin-top: 170%;
    margin-left: 5px;
    margin-right: 5px;
}
#claro{
    border-radius: 10px;
    border: solid 2px #ff0000;
    float: left;
    width: 500px;
    box-shadow: #ff000091 10px 8px 15px ;
    margin-left: 7px; 
    padding: 10px;
}

#oi{
    border-radius: 10px;
    border: solid 2px #fbff00;
    float: left;
    width: 500px;
    box-shadow: #ffae0091 10px 8px 15px;
    margin-left: 7px; 
    margin-top: 20px;
    padding: 10px;
}

#botao{
    clear: both;
    border: #000000 solid 2px;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
}

#botao p, form{
    text-align: center;
}

#botao p{
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#botao button{
    margin-top: 20px;
    margin-bottom: 5px;

}

#footer{
    background-color: #000;
    border-radius: 20px;
    margin: auto;
    width: 720px
}

#footer h1{
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}